footer {
    background: black;
}

body {
    background-color: aliceblue;
    background-color: yellow !important;
}

h6 {
    text-align: start;
    font-weight: bold;
}

.text-secondary {
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.page-item>.page-link {
    cursor: pointer;
}

.page-item .active>.page-link {
    cursor: default;
}

.page-item .disabled>.page-link {
    cursor: default;
}

.dropdown-menu-margin-top {
    margin-top: 5px;
}


.front {
    border: 1px solid black !important;
}

.direction {
    justify-content: space-between;
}



    /* // {
    //   "id": 7,
    //   "name": "გიურზა",
    //   "scientificName": "Macrovipera lebetinus",
    //   "description": "გიურზა საქართველოში ყველაზე შხამიანი სახეობაა გველგესლასებრთა ოჯახიდან, ასევე ერთადერთი გველი, რომლის შხამსაც ადამიანის მოკვლა შეუძლია. ძირითადად ვხვდებით აღმოსავლეთ საქართველოში, ჭარბად გვხვდებიან ბოლნისსა და დედოფლისწყაროში, უდაბნოებში, როგორიცაა გარეჯის უდაბნო. თბილისში გავრცელებულია სამხრეთით: აფრიკის დასახლება, თბილისის აეროპორტის შემოგარენი, მთაწმინდა, კრწანისი და ა.შ. მრავლად არიან მარნეულსა და რუსთავის ტერიტორიაზეც. ზოგადად, რეპტილიები პირველი არასდროს გადადიან შეტევაზე, მათ შორის, არც გიურზა. მართალია, მათთვის შხამი ყველაზე ძვირფასია და მაქსიმალურად ცდილობენ, რომ არ გამოიყენონ, თუმცა თავდაცვისას სხვა გამოსავალი მაინც აღარ რჩებათ. შეხვედრის შემთხვევაში, ეცადეთ დაიცვათ 2-3 მეტრიანი დისტანცია და ნელი ნაბიჯებით გაერიდოთ ტერიტორიას, თვითონაც მალევე გაიქცევა, რადგან მას თქვენი თქვენზე მეტად ეშინია. მაშინ, როდესაც საქართველოში გავრცელებული გველგესლების უმეტესობას ჰემოტოქსიკური შხამი აქვთ, გიურზას შხამი ჰემოტოქსინების, ციტოტოქსინებისა და ნეიროტქსინების ერთობლიობას წარმოადგენს. დაკბენიდან საავადმყოფომდე მისასვლელად, ადამიანს დაახლოებით 4-6 საათი აქვს, თუმცა დროც ინდივიდუალურად განისაზღვრება, რადგან ალერგიულებისთვის ბევრად საშიშია.",
    //   "imageUrl": "https://herpi-main-bucket.s3.amazonaws.com/general/2144",
    //   "isEndangered": false,
    //   "isVenomous": true,
    //   "type": "SNAKE"
    // },
    // {
    //   "id": 8,
    //   "name": "გველხოკერა",
    //   "scientificName": "Pseudopus apodus",
    //   "description": "გველხოკერა საქართველოში გავრცელებული უფეხო ხვლიკების ორ სახეობათაგან ერთ-ერთია. საქართველოსა და ევროპაში თითქმის ყველგან გვხვდება, ქალაქებშიც კი. უფეხო ხვლიკებსა და გველებს შორის ორი ძირითადი განსხვავებაა: თვალები და სმენის აპარატი. მაშინ, როდესაც გველს არც გარეგანი ყურები და არც თვალის ქუთუთოები გააჩნია, ნებისმიერ ხვლიკს და ასევე უფეხო ხვლიკებსაც ორივე აქვს. ეს სახეობა სიგრძეში 1.2 მეტრამდე აღწევს და ძირითადად მწერებით იკვებება, თუმცა უარს არც სხვა ქვეწარმავლების ბარტყებზე ამბობს. საქართველოში შხამიანი ხვლიკები არ ბინადრობენ.",
    //   "imageUrl": "https://herpi-eu-fra.s3.eu-central-1.amazonaws.com/general/1904",
    //   "isEndangered": false,
    //   "isVenomous": false,
    //   "type": "LIZARD"
    // },
    // {
    //   "id": 9,
    //   "name": "ბოხმეჭა",
    //   "scientificName": "Anguis colchica",
    //   "description": "ბოხმეჭა საქართველოში გავრცელებული უფეხო ხვლიკია ბოხმეჭასებრთა ოჯახიდან. სიგრძეში 60 სანტიმეტრამდე იზრდება, შეფერილობით რუხია, მდედრს ზურგზე ოქროსფერი ხაზი გასდევს, მამრს კი - ლურჯი წინწკლები. საქართველოში, ისევე როგორც მისი ნათესავი - ხოკერა, თითქმის ყველგანაა გავრცელებული. ხშირად გველში ეშლებათ, თუმცა გველისგან აშკარა განმასხვავებელი ნიშნებით გამოირჩევა, როგორიცაა თვალის ქუთუთოებისა და გარეგანი სმენის აპარატის არსებობა. ცოცხლადმშობია და იკვებება მწერებით, მრავალფეხებითა და ლოკოკინებით. სარგებლობა მოაქვს მავნებლების განადგურებით, ასე რომ, ფერმერის საუკეთესო მეგობარია.",
    //   "imageUrl": "https://herpi-eu-fra.s3.eu-central-1.amazonaws.com/general/1969",
    //   "isEndangered": false,
    //   "isVenomous": false,
    //   "type": "LIZARD"
    // },
    // {
    //   "name": "წითელმუცელა მცურავი",
    //   "scientificName": "Dolichophis schmidti",
    //   "description": "წითელმუცელა მცურავი ფართოდაა გავრცელებული მთელს პლანეტაზე. ეს არაშხამიანი 1-1.5 მეტრი სიგრძის გველი ძირითადად მშრალ და ბალახიან ადგილებში ბინადრობს. ვრცელდება ზღვის დონიდან 1500 მეტრ სიმაღლემდე. აქტიურია დღისით. ზამთრის ძილიდან მარტის დასაწყისში გამოდის. აპრილ-მაისში იწყებს შეჯვარებას. ივნისის ბოლოსა და ივლისის დასაწყისში დებს 5 დან 11-მდე (5-6 სანტიმეტრი ზომის) კვერცხს, საიდანაც იჩეკება 25-33 სანტიმეტრი ზომის წიწილები.",
    //   "imageUrl": "https://herpi-eu-fra.s3.eu-central-1.amazonaws.com/general/1899",
    //   "isEndangered": false,
    //   "isVenomous": false,
    //   "type": "SNAKE",
    //   "id": 10
    // },
    // {
    //   "name": "დასავლური მახრჩობელა",
    //   "scientificName": "Eryx Jaculus",
    //   "description": "დასავლური მახრჩობელა ერთადერთი მახრჩობელა და წითელ წიგნში შეტანილი სახეობაა საქართველოში. ადამიანისთვის სრულიად უწყინარი და უშხამო გველია. სიგრძეში მაქსიმუმ 70 სანტიმეტრს აღწევს, იკვებება ხვლიკებითა და მცირე ზომის თაგვებით. გვხვდება საქართველოს აღმოსავლეთ ნაწილში — ქვემო ქართლში, გარეკახეთში, შირაქში. თბილისის მიდამოებში გვხვდება ქსეროფიტულ ბიოტოპებში — ველებსა და ნახევრად უდაბნოში, სადაც ქვები და მღრღნელთა სოროებია. არის ცოცხლადმშობი და ივლის-აგვისტოში აჩენს 10-20 ნაშიერს.",
    //   "imageUrl": "https://herpi-eu-fra.s3.eu-central-1.amazonaws.com/general/1889",
    //   "isEndangered": true,
    //   "isVenomous": false,
    //   "type": "SNAKE",
    //   "id": 11
    // },
    // {
    //   "name": "წყნარი ეირენისი",
    //   "scientificName": "Eirenis modestus",
    //   "description": "წყნარი ეირენისი მცირე ზომის, წვრილი, უშხამო და უწყინარი გველია ანკარასებრთა ოჯახისა, რომელიც ამართლებს თავის სახელს და იმდენად წყნარია, რომ თითქმის არასდროს იკბინება. ზომაში 60 სანტიმეტრს არ აღემატება. ტანი მოყვითალო-მოყავისფროა, მონაცრისფრო-მოყავისფრო ან მოწითალო-მოყავისფრო. კანი გლუვია. თავზე გამოკვეთილი შავი ლაქა აქვს, თუმცა გვხვდება წინწკლებიანი ინდივიდებიც.",
    //   "imageUrl": "https://herpi-main-bucket.s3.amazonaws.com/general/2150",
    //   "isEndangered": false,
    //   "isVenomous": false,
    //   "type": "SNAKE",
    //   "id": 12
    // }, */